<section>
  <div parent-container-d>
    <div class="child-container">
      <div *ngFor="let title of titles; let i = index">
        <span title-container>
          <small>
            <ng-container *ngIf="form.get(key[i + position])?.invalid && submitted; else nonInvalid">*</ng-container>
            <ng-template #nonInvalid>&#160;&#160;</ng-template>
          </small>
          <h2>{{title}}</h2>
        </span>
        <form [formGroup]="form" input-container>
          <input type="text" [placeholder]="placeholders[i] || ''"
          [formControlName]="formControlNames[i + position]"
          [ngStyle]="{'padding-left': icons ? '45px' : '20px'}">
          <fa-icon *ngIf="icons" [icon]="icons"></fa-icon>
        </form>
      </div>
    </div>
  </div>
</section>
