<section *ngFor="let title of titles;let i = index">
  <div parent-container>
    <div>
      <span *ngIf="title" title-container>
        <small>
          <ng-container *ngIf="form.get(key[i + position])?.invalid && submitted; else nonInvalid">*</ng-container>
          <ng-template #nonInvalid>&#160;&#160;</ng-template>
        </small>

        <h2>{{title}}</h2>
        <!-- <p>{{form.get(key[i + position])?.value | json}}</p> -->
        <!-- <p>{{form.get(key[i])?.value | json}}</p> -->
        <!-- <p>{{kek[i]}}</p> -->
        <!-- <p>{{submitted}}</p> -->
      </span>
      <form [formGroup]="form" input-container>
        <ng-container *ngIf="!XL[i] else textarea">
          <input [type]="types[i]" [placeholder]="placeholders[i] || ''"
            [formControlName]="formControlNames[i + position]" [ngStyle]="{'padding-left': icons ? '45px' : '20px'}">
        </ng-container>
        <ng-template #textarea>
          <textarea [ngStyle]="{'height': XL && XL[i] ? '120px' : '60px', 'padding-left': icons ? '45px' : '20px'}"
            [formControlName]="formControlNames[i + position]"></textarea>
        </ng-template>
        <fa-icon *ngIf="icons && icons[i]" [icon]="icons[i]"></fa-icon>
      </form>
    </div>
  </div>
</section>
