<app-header></app-header>

<app-check-form [title_c]="'General'" [subtitles]="subtitlesCheckForm" [align_t]="true" [align_c]="2"
  [form]="patientForm7" (formChange)="onFormChange($event)" [values]="patientForm7" [multi_c]="true">
</app-check-form>
<br><br>

<app-check-form [title_c]="'Neurological'" [subtitles]="subtitlesCheckForm2" [align_t]="true" [align_c]="2"
  [form]="patientForm7" (formChange)="onFormChange($event)" [values]="patientForm7" [multi_c]="true" [position]="1">
</app-check-form>
<br><br>

<app-check-form [title_c]="'Cardiovascular/Pulmonary'" [subtitles]="subtitlesCheckForm3" [align_t]="true" [align_c]="2"
  [form]="patientForm7" (formChange)="onFormChange($event)" [values]="patientForm7" [multi_c]="true" [position]="2">
</app-check-form>
<br><br>

<app-check-form [title_c]="'Gastrointestinal'" [subtitles]="subtitlesCheckForm4" [align_t]="true" [align_c]="2"
  [form]="patientForm7" (formChange)="onFormChange($event)" [values]="patientForm7" [multi_c]="true" [position]="3">
</app-check-form>
<br><br>

<app-check-form [title_c]="'Genito-urinary'" [subtitles]="subtitlesCheckForm5" [align_t]="true" [align_c]="2"
  [form]="patientForm7" (formChange)="onFormChange($event)" [values]="patientForm7" [multi_c]="true" [position]="4">
</app-check-form>
<br><br>

<app-check-form [title_c]="'EENT'" [subtitles]="subtitlesCheckForm6" [align_t]="true" [align_c]="2"
  [form]="patientForm7" (formChange)="onFormChange($event)" [values]="patientForm7" [multi_c]="true" [position]="5">
</app-check-form>
<br><br>

<app-check-form [title_c]="'Women'" [subtitles]="subtitlesCheckForm7" [align_t]="true" [align_c]="2"
  [form]="patientForm7" (formChange)="onFormChange($event)" [values]="patientForm7" [multi_c]="true" [position]="6">
</app-check-form>

<app-input-form [titles]="['']" [form]="patientForm7" (formChange)="onFormChange($event)" [position]="7">
</app-input-form>

<app-check-form [title_c]="'Are you currently pregnant?'" [subtitles]="['Yes', 'No']" [align_c]="3"
  [form]="patientForm7" (formChange)="onFormChange($event)" [values]="patientForm7" [position]="8">
</app-check-form>

<app-input-form [titles]="['When was your last menstrual period?']" [form]="patientForm7"
  (formChange)="onFormChange($event)" [position]="9"></app-input-form>
<br><br>

<app-check-form [title_c]="'Men'" [subtitles]="subtitlesCheckForm8" [align_t]="true" [align_c]="1" [form]="patientForm7"
  (formChange)="onFormChange($event)" [values]="patientForm7" [multi_c]="true" [multi_c]="true" [position]="10">
</app-check-form>

<app-input-form [titles]="['']" [form]="patientForm7" (formChange)="onFormChange($event)" [position]="11">
</app-input-form>

<app-next-button [router]="'/register-step-1'"></app-next-button>
