<section>
  <div parent-container-c>
    <div>
      <span title-container-c
        [ngStyle]="{'align-items': align_t ? 'center' : 'flex-end', 'justify-content': align_t ? 'center' : 'unset'}">
        <small>
          <ng-container *ngIf="values.get(key[position])?.invalid && submitted; else nonInvalid">*</ng-container>
          <ng-template #nonInvalid>&#160;&#160;</ng-template>
          <!-- <p>{{form.get(key[position])?.invalid}}</p> -->
          <!-- <p>{{values.get(key[position])?.value | json}}</p> -->
        </small>
        <h2 [ngStyle]="{'text-align': align_t ? 'center' : 'left', 'margin-bottom': align_t ? '20px' : 'auto',
           'width': align_t ? 'fit-content' : 'inherit'}">
          {{title_c}}
        </h2>
      </span>
      <form input-container-c [ngStyle]="{'grid-template-columns': align_c === 1 ? 'repeat(1, 1fr)' : align_c === 2 ?
       '50% 50%' : align_c === 3 ? 'repeat(3, 1fr)' : 'initial'}" [formGroup]="form">
        <span *ngFor="let subtitle of subtitles;let i = index;" [class.only-child-row]="isOnlyChildInRow(i)">
          <input type="checkbox" [checked]="checkedIndex === i" (change)="onCheckboxChange(i)"
            [formControlName]="formControlNames[i]">
          <p>{{subtitle}}</p>
        </span>
      </form>
    </div>
  </div>
</section>
