<section>
  <div parent-container-c>
    <div>
      <span title-container-c>
        <h2 [ngStyle]="{'text-align': align_t ? 'center' : 'left', 'margin-bottom': align_t ? '30px' : 'auto'}">
          {{title_c}}</h2>
      </span>
      <form input-container-c [ngStyle]="{'grid-template-columns': align_c === 1 ? 'repeat(1, 1fr)' : align_c === 2 ?
       '50% 50%' : align_c === 3 ? 'repeat(3, 1fr)' : 'initial'}" [formGroup]="form">
        <span *ngFor="let subtitle of subtitles;let i = index;" [class.only-child-row]="isOnlyChildInRow(i)">
          <input type="checkbox"
            [checked]="checkedIndex === i"
            (change)="onCheckboxChange(i)"
            [formControlName]="formControlNames[i]">
            <p>{{subtitle}}</p>
          </span>
      </form>
    </div>
  </div>
</section>
